{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.cookbook'|trans({'%id%': recipe.id|default('')}) }}
{% endblock %}

{% block main_nav %}{% endblock %}

{% block body %}
    <h1>{{ 'title.register'|trans }}</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: 'label.user_email'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'label.password'
        }) }}

    <button type="submit" class="btn btn-primary">{{ 'action.register'|trans }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
