{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.cookbook'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.tags'|trans }}</h1>

    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'recipe.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.createdAt'|trans, 'recipe.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updatedAt'|trans, 'recipe.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'recipe.title') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in pagination.items %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.createdAt|date('Y-m-d') }}</td>
                    <td>{{ tag.updatedAt|date('Y-m-d') }}</td>
                    <td>{{ tag.title }}</td>
                    <td>
                        <a href="{{ path('tag_view', {id: tag.id}) }}" class="btn btn-sm btn-outline-primary">
                            {{ 'action.view'|trans }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('tag_edit', {id: tag.id}) }}" class="btn btn-sm btn-outline-secondary">
                                {{ 'action.edit'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('tag_delete', {id: tag.id}) }}" class="btn btn-sm btn-outline-danger">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
{% endblock %}